DB_HOST=db
DB_PORT=3306
DB_NAME=super8
DB_USER=super8user
DB_PASSWORD=your_db_password
DB_ROOT_PASSWORD=your_root_password

ADMIN_PASSWORD=your_admin_password
FAMILLE_PASSWORD=your_famille_password
JWT_SECRET=generate_with__openssl_rand_hex_32

APP_PORT=3000
VIDEOS_PORT=3001
